.background {
  background-image: url(https://wallpapercave.com/wp/wp2280996.jpg);
}

.navbar {
  background-color: black;
  padding: 10px;
  text-align: center;
  border-color: white;
  border-bottom-style: solid;
  margin-bottom: 10px;
}

.header {
  color: #03c04a;
  margin: 20px;
  padding: 20px;
  font-size: 50px;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

.tagline {
  color: #03c04a;
  margin: 20px;
  padding: 20px;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

.nav-link {
  color: #03c04a;
  float: right;
}

.form {
  background-color: black;
  border-style: solid;
  border-color: black;
  width: 50%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.form-heading {
  color: gold;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

.labels {
  color: gold;
  font-family: "Raleway", sans-serif;
}

.liveCell {
  border-style: solid;
  background-color: yellow;
  border-width: 1px;
  width: 1px;
  height: 1px;
  padding: 7px;
  margin-right: 1px;
}

.deadCell {
  border-style: solid;
  background-color: black;
  border-width: 1px;
  width: 1px;
  height: 1px;
  padding: 7px;
  margin-right: 1px;
}

.grid {
  list-style-type: none;
  margin: 1px;
  margin-left: 10px;
}

.grid-container {
  border: #03c04a;
  border-style: solid;
  width: auto;
}
