.background {
  background-image: url(https://wallpapercave.com/wp/wp2280996.jpg);
}

.navbar {
  background-color: black;
  padding: 10px;
  text-align: center;
  border-color: white;
  border-bottom-style: solid;
  margin-bottom: 5px;
}

.header {
  color: #03c04a;
  margin: 20px;
  padding: 20px;
  font-size: 50px;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

.tagline {
  color: #03c04a;
  margin-left: 70px;
  padding: 20px;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

.nav-link {
  color: #03c04a;
  float: right;
}

.parent-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.column-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.galaxies-container {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  width: 82.5%;
  margin: 10px auto;
  background-color: black;
  padding-bottom: 10px;
}

.card-container {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 82.5%;
  margin: 10px auto;
}

.buttons  {
  font-family: "Raleway", sans-serif;
}

.form {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}

.form-heading {
  color: yellow;
  text-align: center;
  font-family: "Raleway", sans-serif;
  margin: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.labels {
  color: yellow;
  font-family: "Raleway", sans-serif;
}

.input  {
  width: 100%;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.liveCell {
  background-color: yellow;
  width: 1px;
  height: 1px;
  padding: 7px;
  margin-right: 1px;
}

.deadCell {
  background-color: black;
  width: 1px;
  height: 1px;
  padding: 7px;
  margin-right: 1px;
}

.grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid {
  list-style-type: none;
  margin: 1px;
}

.gridTable {
  margin-left: auto;
  margin-right: auto;
  border: #03c04a;
  border-style: solid;
  padding: 10px;
}

#go-button {
  font-family: "Raleway", sans-serif;
  width: 300px;
  border: none;
  background-color: yellow;
  padding: 7px 14px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin: auto;
  margin-bottom: 5px;
}
